{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row">
        <!-- Main Content -->
        <main class="col-lg-8">
            {% block blog_content %}
            {% endblock %}
        </main>
        
        <!-- Sidebar -->
        <aside class="col-lg-4">
            {% block sidebar %}
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="mb-0">About</h5>
                </div>
                <div class="card-body">
                    <p>Welcome to our blog! Here you'll find the latest posts from our community.</p>
                </div>
            </div>
            {% endblock %}
        </aside>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/blog.js' %}"></script>
{% endblock %}
