{% extends 'users/base_auth.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block auth_content %}
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="remember_me" id="remember_me">
            <label class="form-check-label" for="remember_me">
                Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
{% endblock %}

{% block auth_footer %}
    <p class="mb-0">
        Don't have an account? 
        <a href="{% url 'users:register' %}">Sign up here</a>
    </p>
    <p class="mb-0">
        <a href="{% url 'password_reset' %}">Forgot your password?</a>
    </p>
{% endblock %}
