{% extends 'users/base_auth.html' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block auth_content %}
    <div class="alert alert-success">
        <h4 class="alert-heading">Password Reset Email Sent</h4>
        <p class="mb-0">
            We've emailed you instructions for setting your password, if an account exists with the email you entered. 
            You should receive them shortly. If you don't receive an email, please make sure you've entered the address 
            you registered with, and check your spam folder.
        </p>
    </div>
    
    <div class="text-center mt-4">
        <a href="{% url 'blog:home' %}" class="btn btn-primary">Return to Home</a>
    </div>
{% endblock %}
